body {
    max-width: 1600px;

}
main {
        display: grid;
    grid-template-rows: repeat(6 , 1fr) ;
    /* grid-template-columns: 1fr 1fr 1fr;  */
}
#me {
    grid-row: 2/3 ;
    grid-column: 1/3;
}
#me p {
    max-width: 100px;
    display: inline-block;
}
#me img {
    height: 200px;
}
#pulse {
    grid-row: 3/5;
    grid-column: 2/4;
    
}
#pulse p {
    max-width: 100px;
    display: inline-block;
}
#pulse img {
    height: 200px
}